/* Universal */
body, html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Sidebar Menu */
nav {
    height: 100%;
    width: 10%;
    background-color: #000;
    position: fixed;
    z-index: 1;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 5;
}

/* Main */
main {
    height: 100%;
}

h1 {
    color: #000;
    font-style: italic;
    font-size: 5rem;
    text-align: right;
    padding-right: 10%;
    border-bottom: 1px solid #000;
}

.sites {
    margin-left: 15%;
    margin-right: 5%;
    width: 80%;
    height: 350px;
    display: flex;
    justify-content: space-evenly;

}

.sites img {
    width: 95%;
    height: 100%;
    box-shadow: 10px 10px 10px #000;
    border-radius: 5px;
}

.sites img:hover {
    opacity: 0.3;
}

#design-spec, #prototype, #kgs {
    width: 33%;
    text-align: center;
    color: #fff;
    line-height: 2;
}



#design-spec img:hover ~ p, #prototype img:hover ~ p, #kgs img:hover ~ p {
 color: #000;
}