/* Universal */
body, html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Sidebar Menu */
nav {
    height: 100%;
    width: 10%;
    background-color: #000;
    position: fixed;
    z-index: 1;
    top: 0;
}

.links a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;

}