/* Universal */
body, html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Sidebar Menu */
nav {
    height: 100%;
    width: 10%;
    background-color: #000;
    position: fixed;
    z-index: 1;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 5;
}

/* Main */
main {
    height: 100%;
}

h1 {
    color: #000;
    font-style: italic;
    font-size: 5rem;
    text-align: right;
    padding-right: 10%;
    border-bottom: 1px solid #000;
}

.information {
    text-align: center;
    line-height: 2;
    margin-left: 25%;
    margin-right: 10%;
    width: 60%;
    /* height: 700px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* .information p {
    width: 60%;
} */

.information img {
    height: 50px;
    width: 50px;
}

ul {
    list-style-type: none;
}

.separator {
    border-bottom: 1px solid #000;
}

/* Footer */
footer {
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 1%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    height: 100px;
}